<div class="modal-header">
  <h5 class="modal-title">Disponibilidad de Espacios</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <!-- Selectores para versión administrador -->
  <div *ngIf="userRole === 'admin'" class="mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="sector" class="form-label">Sector</label>
        <select id="sector" class="form-select" [(ngModel)]="selectedSector" (change)="onSectorChange()">
          <option value="" selected>Seleccione un sector</option>
          <option *ngFor="let sector of sectores" [value]="sector.id_sector">
            {{ sector.codigo }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="manzana" class="form-label">Manzana</label>
        <select id="manzana" class="form-select" [(ngModel)]="selectedManzana" (change)="onManzanaChange()"
          [disabled]="!selectedSector">
          <option value="" selected>Seleccione una manzana</option>
          <option *ngFor="let manzana of manzanas" [value]="manzana.id_manzana">
            {{ manzana.numero_manzana }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="bloque" class="form-label">Bloque</label>
        <select id="bloque" class="form-select" [(ngModel)]="selectedBloque" [disabled]="!selectedManzana">
          <option value="" selected>Seleccione un bloque</option>
          <option *ngFor="let bloque of bloques" [value]="bloque.id_bloque">
            {{ bloque.numero_bloque }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="selectedBloque" class="mt-3 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="ponerEnVenta()">
        Poner en Venta
      </button>
    </div>
  </div>

  <!-- Contenido del modal para todos los usuarios -->
  <div class="alert alert-info" role="alert">
    A continuación se muestran los bloques actualmente en venta.
    <div class="mt-3">
      <div class="row">
        <div *ngFor="let espacio of espaciosDisponibles" class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Bloque: {{ formatoDosDigitos(espacio.sector) }}.{{
                formatoDosDigitos(espacio.manzana)
                }}.{{ formatoDosDigitos(espacio.bloque) }}
              </h5>
              <div class="text-center my-2">
                <img [src]="espacio.imagenUrl" class="img-fluid rounded" alt="Imagen del Bloque"
                  style="max-height: 150px;" onerror="this.src='assets/default.jpg'" />
              </div>
              <p class="card-text">{{ espacio.descripcion }}</p>
              <h6>Características:</h6>
              <ul>
                <li *ngFor="let caracteristica of espacio.caracteristicas">
                  {{ caracteristica }}
                </li>
              </ul>
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-success">Localizar</button>
                <button class="btn btn-outline-warning">Visualizar</button>
                <button *ngIf="userRole === 'admin'" class="btn btn-outline-danger"
                  (click)="borrarBloqueEnVenta(espacio.id_bloque_venta)">
                  Borrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
      Cerrar
    </button>
  </div>