<div class="modal-header border-0 mb-3">
  <h5 class="modal-title fw-semibold">
    <i class="bi bi-columns-gap me-2 text-primary"></i>
    Disponibilidad de Bloques
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Cerrar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body pt-0">
  <!-- SECCIÓN ADMIN -->
  <div *ngIf="userRole === 'admin'" class="mb-4">
    <p class="fw-semibold text-muted mb-2">
      Seleccione el bloque para poner en disponibilidad de compra:
    </p>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="sector" class="form-label">Sector</label>
        <select
          id="sector"
          class="form-select"
          [(ngModel)]="selectedSector"
          (change)="onSectorChange()"
        >
          <option value="" selected>Seleccione un sector</option>
          <option *ngFor="let sector of sectores" [value]="sector.id_sector">
            {{ sector.codigo }}
          </option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label for="manzana" class="form-label">Manzana</label>
        <select
          id="manzana"
          class="form-select"
          [(ngModel)]="selectedManzana"
          (change)="onManzanaChange()"
          [disabled]="!selectedSector"
        >
          <option value="" selected>Seleccione una manzana</option>
          <option *ngFor="let manzana of manzanas" [value]="manzana.id_manzana">
            {{ manzana.numero_manzana }}
          </option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label for="bloque" class="form-label">Bloque</label>
        <select
          id="bloque"
          class="form-select"
          [(ngModel)]="selectedBloque"
          [disabled]="!selectedManzana"
        >
          <option value="" selected>Seleccione un bloque</option>
          <option *ngFor="let bloque of bloques" [value]="bloque.id_bloque">
            {{ bloque.numero_bloque }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="selectedBloque" class="d-flex justify-content-end">
      <button
        class="btn btn-success fw-semibold w-100"
        (click)="ponerEnVenta()"
      >
        <i class="bi bi-tag me-1"></i>
        Poner en venta
      </button>
    </div>
  </div>

  <!-- SECCIÓN LISTADO DE BLOQUES EN VENTA PA ADMIN Y USUARIOS NORMALES-->
  <!-- LISTADO DE BLOQUES -->
  <p class="fw-semibold text-muted mb-3">Bloques actualmente disponibles</p>

  <div class="row">
    <div *ngFor="let espacio of espaciosDisponibles" class="col-md-6 mb-3">
      <div class="card h-100 shadow-sm border-1px rounded">
        <div class="card-body">
          <h6 class="fw-semibold mb-2">
            Bloque:
            {{ formatoDosDigitos(espacio.sector) }}.
            {{ formatoDosDigitos(espacio.manzana) }}.
            {{ formatoDosDigitos(espacio.bloque) }}
          </h6>
          <!-- Imagen del bloque -->
          <div class="text-center my-3">
            <img
              [src]="espacio.imagenUrl"
              class="img-fluid rounded"
              alt="Imagen del bloque"
              style="max-height: 150px"
              onerror="this.src = 'assets/default.jpg'"
            />
          </div>
          <!-- Descripción del bloque -->
          <p class="text-muted small">Detalles</p>
          <p class="text-muted small">
            {{ espacio.descripcion }}
          </p>
          <!-- Botones de acción -->
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-success fw-bold btn-sm w-50 me-2">
              Localizar
            </button>

            <button
              class="btn btn-outline-warning fw-bold btn-sm w-50 me-2"
              (click)="visualizarImagen(espacio.imagenUrl)"
            >
              Visualizar
            </button>

            <button
              *ngIf="userRole === 'admin'"
              class="btn btn-outline-danger fw-bold btn-sm w-50"
              (click)="borrarBloqueEnVenta(espacio.id_bloque_venta)"
            >
              Borrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer border-0">
  <button
    type="button"
    class="btn btn-danger fw-semibold"
    (click)="activeModal.dismiss()"
  >
    Cerrar
  </button>
</div>
