<div class="modal-header border-0 pb-0">
  <h5 class="modal-title fw-semibold">
    <i class="bi bi-pencil me-2"></i>Infraestructura
  </h5>
  <button
    type="button"
    class="btn-close ms-auto"
    aria-label="Cerrar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <!-- Botón -->
  <!-- Este formato es para todos los botones -->
  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-plus-square-dotted"
      (click)="abrirModalAnadirManzana()"
    >
      Añadir Manzana
    </button>
  </div>
  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-plus-square-dotted"
      (click)="abrirModalAnadirBloque()"
    >
      Añadir Bloque
    </button>
  </div>

  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-plus-square-dotted"
      (click)="abrirModalEditarEspacio()"
    >
      Añadir espacios
    </button>
  </div>
</div>
<!-- Botón en la parte inferior derecha-->
<div class="modal-footer mb-2 gap-2 justify-content-end">
  <button
    type="button"
    class="btn btn-danger fw-semibold"
    (click)="activeModal.dismiss()"
  >
    Cerrar
  </button>
</div>
