.app-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-content {
  margin-left: 280px; /* Igual al ancho del sidebar */
  height: 100vh;
  overflow-y: auto;

  box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

/* En móviles, ajusta el margen */
@media (max-width: 767.98px) {
  .main-content {
    margin-left: 0;
  }
}
