<div class="modal-header border-0 pb-0">
  <h5 class="modal-title fw-semibold bi bi-pencil-square my-1">
    Editar Difunto
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Cerrar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form>
    <!-- Nombre completo -->
    <div class="mb-2">
      <label class="form-label fw-semibold">Nombre Completo</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="fallecido.nombre_completo"
        name="nombre_completo"
        placeholder="Ej: Juan Pérez"
        required
      />
    </div>

    <!-- Fecha de fallecimiento -->
    <div class="mb-2">
      <label class="form-label fw-semibold">Fecha de Fallecimiento</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="fallecido.fecha_fallecimiento"
        name="fecha_fallecimiento"
      />
    </div>

    <!-- Fecha de inhumación -->
    <div class="mb-2">
      <label class="form-label fw-semibold">Fecha de Inhumación</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="fallecido.fecha_inhumacion"
        name="fecha_inhumacion"
      />
    </div>

    <!-- Fecha de exhumación -->
    <div class="mb-2">
      <label class="form-label fw-semibold">Fecha de Exhumación</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="fallecido.fecha_exhumacion"
        name="fecha_exhumacion"
      />
    </div>

    <!-- Observaciones -->
    <div class="mb-2">
      <label class="form-label fw-semibold">Observaciones</label>
      <textarea
        class="form-control"
        [(ngModel)]="fallecido.observaciones"
        name="observaciones"
        rows="2"
        placeholder="Notas adicionales..."
      ></textarea>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-danger fw-bold"
    (click)="activeModal.dismiss()"
  >
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-outline-success fw-bold"
    (click)="guardarCambios()"
  >
    Guardar cambios
  </button>
</div>
