<div class="modal-header border-0 pb-0">
  <h5 class="modal-title fw-semibold">
    <i class="bi bi-pencil me-2"></i>Gestionar Ocupaciones
  </h5>
  <button
    type="button"
    class="btn-close ms-auto"
    aria-label="Cerrar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <!-- Botón -->
  <!-- Este formato es para todos los botones -->
  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-building-fill-gear"
      (click)="abrirModalAnadirManzana()"
    >
      Crear Manzana
    </button>
  </div>
  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-building-fill-gear"
      (click)="abrirModalAnadirBloque()"
    >
      Crear Bloque
    </button>
  </div>

  <div class="modal-footer mb-2 gap-2 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-success fw-bold w-50 bi-building-fill-gear"
      (click)="abrirModalEditarEspacio()"
    >
      Editar espacios
    </button>
  </div>
</div>
<div class="d-flex mb-4 gap-2 justify-content-center">
  <button
    type="button"
    class="btn btn-danger fw-semibold w-50"
    (click)="activeModal.dismiss()"
  >
    Cerrar
  </button>
</div>
