<div class="container my-4 mx-auto">
  <!-- =======================
       CARDS RESUMEN
  ======================== -->
  <p class="h5 fw-semibold mb-3">Resumen</p>
  <div class="row g-5 mb-3">
    <div class="col-6 col-md-2">
      <div class="card text-center p-2 h-100">
        <h6 class="mb-1">Total Lotes</h6>
        <h4 class="text-success mb-0">
          <!-- obtenelos el total de lotes -->
          {{ obtenerTotalLotes() }}
        </h4>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center p-2 h-100">
        <h6 class="mb-1">BÓVEDAS</h6>
        <h4 class="text-warning mb-0">{{ resumenEspacios.bovedas }}</h4>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center p-2 h-100">
        <h6 class="mb-1">NICHOS</h6>
        <h4 class="text-dark mb-0">{{ resumenEspacios.nichos }}</h4>
        <!-- FALTA CORREGIR-->
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center p-2 h-100">
        <h6 class="mb-1">CRUZ</h6>
        <h4 class="text-danger mb-0">{{ resumenEspacios.cruces }}</h4>
        <!-- FALTA CORREGIR-->
      </div>
    </div>

    <div class="col-6 col-md-2 text-md-end ms-auto">
      <button class="btn btn-success fw-bold w-100" (click)="editarBovedas()">
        <i class="bi bi-building-add nav-icon"></i>
        <span class="nav-text ms-2 d-none d-sm-inline"
          >Gestión Ocupaciones</span
        >
      </button>
    </div>
  </div>

  <!-- =======================
       FILTROS + BUSCADOR
  ======================== -->
  <div class="card mb-4 p-3">
    <div class="row g-3 align-items-end">
      <!-- BUSCADOR -->
      <div class="col-md-6">
        <label class="form-label fw-semibold">Buscar</label>
        <input
          type="text"
          class="form-control"
          placeholder="Código (01.02.03) o nombre del fallecido"
          [(ngModel)]="filtros.busqueda"
          (ngModelChange)="buscarTexto()"
        />
      </div>

      <!-- SECTOR -->
      <div class="col-md-2">
        <label class="form-label fw-semibold">Sector</label>
        <select
          class="form-select"
          [(ngModel)]="filtros.sector"
          (change)="onSectorChange()"
        >
          <option [ngValue]="null">Todos los sectores</option>
          <option *ngFor="let s of sectores" [ngValue]="s.id_sector">
            {{ ("0" + s.codigo).slice(-2) }}
          </option>
        </select>
      </div>

      <!-- MANZANA -->
      <div class="col-md-2">
        <label class="form-label fw-semibold">Manzana</label>
        <select
          class="form-select"
          [(ngModel)]="filtros.manzana"
          (change)="onManzanaChange()"
          [disabled]="!manzanas.length"
        >
          <option [ngValue]="null">Todas las manzanas</option>
          <option *ngFor="let m of manzanas" [ngValue]="m.numero_manzana">
            {{ m.numero_manzana }}
          </option>
        </select>
      </div>

      <!-- BLOQUE -->
      <div class="col-md-2">
        <label class="form-label fw-semibold">Bloque</label>
        <select
          class="form-select"
          [(ngModel)]="filtros.bloque"
          (change)="onBloqueChange()"
          [disabled]="!bloques.length"
        >
          <option [ngValue]="null">Todos los bloques</option>
          <option *ngFor="let b of bloques" [ngValue]="b.numero_bloque">
            {{ b.numero_bloque }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- =======================
       TABLA
  ======================== -->
  <div class="card">
    <div class="table-responsive my-3">
      <table class="table table-hover mb-0 align-middle">
        <thead class="table-light text-center">
          <tr>
            <th>Código</th>
            <th>Sector</th>
            <th>Manzana</th>
            <th>Bloque</th>
            <th>Tipo</th>
            <th>Espacio</th>
            <th>Fallecido</th>
            <th>Fecha Fallecimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr *ngFor="let o of ocupaciones">
            <td class="fw-semibold">{{ o.codigo_bloque }}</td>
            <td>{{ "0" + o.sector_cementerio }}</td>
            <td>{{ o.manzana }}</td>
            <td>{{ o.bloque_lote }}</td>
            <td>{{ o.tipo_ubicacion }}</td>
            <td>{{ o.numero }}</td>
            <!-- SI UN FALLECIDO TIENE COMO NOMBRE "S/N" LE ASIGNAMOS  -->
            <td>
              {{
                o.nombre_fallecido
                  ? o.nombre_fallecido === "S/N"
                    ? "--"
                    : o.nombre_fallecido
                  : "--"
              }}
            </td>
            <!-- SI NO TIENE FECHA DE FALLECIMIENTO MOSTRAMOS - -->
            <td>
              {{
                o.fecha_fallecimiento
                  ? (o.fecha_fallecimiento | date: "yyyy-MM-dd")
                  : "-"
              }}
            </td>
            <td>
              <button
                class="btn btn-m btn-warning my-1 fw-semibold"
                (click)="editar(o)"
              >
                <i class="bi bi-pencil"></i>
              </button>

              <button
                class="btn btn-m btn-danger mx-1 fw-semibold"
                (click)="eliminar(o)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>

          <tr *ngIf="!ocupaciones.length && !loading">
            <td colspan="9" class="text-center text-muted py-4">
              No se encontraron resultados
            </td>
          </tr>

          <tr *ngIf="loading">
            <td colspan="9" class="text-center py-4">
              <div class="spinner-border text-success"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Paginación -->
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="page === 1">
          <button class="btn bt-" (click)="paginaAnterior()">Anterior</button>
        </li>
        <li class="page-item">
          <span class="page-link">Página {{ page }} </span>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="siguientePagina()">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
