<!-- Modal para editar una bóveda existente.
Este modal está pensando para ser usado en el componente inicio (panel administrativo) para editar las nuevas y existentes bóvedas -->
<div class="modal-header border-0 pb-0">
    <h5 class="modal-title  fw-semibold bi bi-pencil-square my-1"> Editar Bóveda</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="modal-body justify-content-center w-100 p-2">
        <form>
            <div class="mb-2">
                <label class="form-label fw-semibold">Numeración</label>
                <input type="text" class="form-control text-muted" [(ngModel)]="boveda.codigo" name="numeracion" readonly>
            </div>
           <!--<div class="mb-2">
                <label class="form-label fw-semibold">Ubicación</label>
                <input type="text" class="form-control" [(ngModel)]="boveda.ubicacion" name="ubicacion">
            </div>
            --> 
            <div class="mb-2"> 
                <label class="form-label fw-semibold">Sector</label>
                <select class="form-select" [(ngModel)]="boveda.sector" name="sector" disabled> <!-- disable: para que el sector no se pueda editar, ya que tambien será traido desde la base de datos-->
                    <option *ngFor="let sector of sectores" [value]="sector">{{ sector }}</option>
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label fw-semibold">Capacidad</label>
                <input type="number" class="form-control" [(ngModel)]="boveda.capacidad" name="capacidad">
            </div>
            <div class="mb-2">
                <label class="form-label fw-semibold">Espacios ocupados</label>
                <input type="number" class="form-control" [(ngModel)]="boveda.espaciosOcupados" name="espaciosOcupados">
                <!-- Este campo debe estar en la base, así como los demás -->
            </div>
            <div class="mb-2">
                <label class="form-label fw-semibold">Estado</label>
                <select class="form-select" [(ngModel)]="boveda.estado" name="estado">
                    <option>Disponible</option>
                    <option>Ocupada</option>
                    <option>Mantenimiento</option>
                    <option>Inactiva</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger fw-bold" (click)="activeModal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-outline-success fw-bold" (click)="guardarCambios()">Guardar cambios</button>
</div>