<div class="modal-header">
  <h4 class="modal-title">Editar Espacios de Bloque</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    &times;
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="sector">Sector:</label>
      <select
        class="form-control"
        [(ngModel)]="espacioEdit.id_sector"
        name="sector"
        (change)="onSectorChange()"
        required
      >
        <option value="" disabled selected>Selecciona un sector</option>
        <option *ngFor="let sector of sectores" [value]="sector.id_sector">
          {{ sector.codigo }} - {{ sector.nombre }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="manzana">Manzana:</label>
      <select
        class="form-control"
        [(ngModel)]="espacioEdit.id_manzana"
        name="manzana"
        (change)="onManzanaChange()"
        [disabled]="!espacioEdit.id_sector"
        required
      >
        <option value="" disabled selected>Selecciona una manzana</option>
        <option *ngFor="let manzana of manzanas" [value]="manzana.id_manzana">
          {{ manzana.numero_manzana }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="bloque">Bloque:</label>
      <select
        class="form-control"
        [(ngModel)]="espacioEdit.id_bloque"
        name="bloque"
        (change)="onBloqueChange()"
        [disabled]="!espacioEdit.id_manzana"
        required
      >
        <option value="" disabled selected>Selecciona un bloque</option>
        <option *ngFor="let bloque of bloques" [value]="bloque.id_bloque">
          Bloque {{ bloque.numero_bloque }}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="espacios.length > 0">
      <h5>Espacios del Bloque:</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let espacio of espacios">
          Espacio {{ espacio.numero_espacio }} - {{ espacio.tipo_espacio }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <h5>Añadir Más Espacios:</h5>
      <div class="form-group">
        <label for="cantidad_espacios">Cantidad de Espacios:</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="nuevosEspacios.cantidad_espacios"
          name="cantidad_espacios"
          required
        />
      </div>
      <div class="form-group">
        <label for="tipo_espacio">Tipo de Espacio:</label>
        <select
          class="form-control"
          [(ngModel)]="nuevosEspacios.id_tipo_espacio"
          name="tipo_espacio"
          required
        >
          <option
            *ngFor="let tipo of tiposEspacio"
            [value]="tipo.id_tipo_espacio"
          >
            {{ tipo.nombre }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">
    Añadir Espacios
  </button>
</div>
