/* CARD CONTACTO INFO (VERDE)ç */

.card-contact-info {
  background: linear-gradient(
    180deg,
    #163212 0%,
    #30422e 100%
  );
  border-radius: 18px;
  border: none;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}


/* CARD WHATSAPP*/

.card-whatsapp {
  background: linear-gradient(
    180deg,
    #1e4620 0%,
    #2f5e33 100%
  );
  border-radius: 18px;
  border: none;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}